@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --breakpoint-xs: 480px;
    --font-sans: "Roboto", sans-serif;
}

@layer {
    .anim {
        @apply transition duration-300 ease-linear;
    }

    body {
        font-family: var(--font-sans);
    }
}
